*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.metals/.reports/metals-full/2024-05-16/r_failed-idex-java_(providers-visits-summary)_17-10-38-051.md
.metals/.reports/metals-full/2024-05-16/r_failed-idex-java_(providers-visits-summary)_17-10-38-030.md
.metals/.reports/metals-full/2024-05-16/r_failed-idex-java_(providers-visits-summary)_17-10-37-955.md
.metals/.reports/metals-full/2024-05-16/r_failed-idex-java_(providers-visits-summary)_17-10-37-940.md
.metals/.reports/metals-full/2024-05-16/r_failed-idex-java_(providers-visits-summary)_17-10-37-857.md
.metals/.reports/metals-full/2024-05-16/r_failed-idex-java_(providers-visits-summary)_17-10-37-826.md
.metals/.reports/metals-full/2024-05-16/r_failed-idex-java_(providers-visits-summary)_17-10-37-680.md
.metals/.reports/metals-full/2024-05-16/r_failed-idex-java_(providers-visits-summary)_17-10-37-584.md
.metals/.reports/metals-full/2024-05-16/r_failed-idex-java_(providers-visits-summary)_17-10-32-545.md
.metals/.reports/metals-full/2024-05-16/r_failed-idex-java_(providers-visits-summary)_17-10-32-543.md
.metals/.reports/metals-full/2024-05-16/r_failed-idex-java_(providers-visits-summary)_17-10-32-541.md
.metals/.reports/metals-full/2024-05-16/r_failed-idex-java_(providers-visits-summary)_17-10-32-538.md
.metals/.reports/metals-full/2024-05-16/r_failed-idex-java_(providers-visits-summary)_17-10-32-536.md
.metals/.reports/metals-full/2024-05-16/r_failed-idex-java_(providers-visits-summary)_17-10-32-534.md
.metals/.reports/metals-full/2024-05-16/r_failed-idex-java_(providers-visits-summary)_17-10-32-532.md
.metals/.reports/metals-full/2024-05-16/r_failed-idex-java_(providers-visits-summary)_17-10-32-530.md
.metals/.reports/metals-full/2024-05-16/r_failed-idex-java_(providers-visits-summary)_17-10-32-491.md
.metals/.reports/metals-full/2024-05-16/r_failed-idex-java_(providers-visits-summary)_17-10-32-489.md
.metals/.reports/metals-full/2024-05-16/r_failed-idex-java_(providers-visits-summary)_17-10-32-486.md
.metals/.reports/metals-full/2024-05-16/r_failed-idex-java_(providers-visits-summary)_17-10-32-484.md
.metals/.reports/metals-full/2024-05-16/r_failed-idex-java_(providers-visits-summary)_17-10-32-479.md
.metals/.reports/metals-full/2024-05-16/r_failed-idex-java_(providers-visits-summary)_17-10-32-477.md
.metals/.reports/metals-full/2024-05-16/r_failed-idex-java_(providers-visits-summary)_17-10-32-474.md
.metals/.reports/metals-full/2024-05-16/r_failed-idex-java_(providers-visits-summary)_17-10-32-472.md
.metals/.reports/metals-full/2024-05-16/r_failed-idex-java_(providers-visits-summary)_17-10-32-471.md
.metals/.reports/metals-full/2024-05-16/r_failed-idex-java_(providers-visits-summary)_17-10-32-468.md
.metals/.reports/metals-full/2024-05-16/r_failed-idex-java_(providers-visits-summary)_17-10-32-466.md
.metals/.reports/metals-full/2024-05-16/r_failed-idex-java_(providers-visits-summary)_17-10-32-464.md
.metals/.reports/metals-full/2024-05-16/r_failed-idex-java_(providers-visits-summary)_17-10-32-462.md
.metals/.reports/metals-full/2024-05-16/r_failed-idex-java_(providers-visits-summary)_17-10-32-460.md
.metals/metals.mv.db
.metals/metals.lock.db
.bloop/providers-visits-summary.json
.bloop/providers-visits-summary-test.json
.bloop/bloop.settings.json
.vscode/settings.json
.gitpod.yml
